### User Sources for Android Repository
### sdkmanager fallback repos when dl.google.com is blocked.

repo.type=legacy
repo.url1=https://maven.myket.ir
repo.url2=https://mirrors.cloud.tencent.com/android/repository/
repo.url3=https://mirrors.aliyun.com/android/repository/
